:root {
  --primary-color: #3e7d91;
  --secondary-color: #2C6171;
  --tertiary-color: #F6DD7C;
  --quaternary-color: #E88C30;
  --text-color: #9FA0A3;
  --primary-font: 'Roboto', sans-serif;
  --board-box-border: 3px solid var(--secondary-color);
  --reset-transition: color 0.2s ease;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: var(--primary-font);
}

.container {
  position: relative;
}
